<div class="px-3 skill-tab-content">
  <div class="row bg-lt-blue">
    <div
      class="col-12 d-flex justify-content-between align-items-center flex-wrap"
    >
      <div class="d-flex align-items-center">
        <button
          (click)="character.resetSkills()"
          class="m-2 bg-light font-color-blue"
          mat-button
        >
          Clear Skills
        </button>
        <div class="text-white m-2">
          Available Skills:
          {{ character.availableSkills }}
        </div>
      </div>
      <div>
        <mat-form-field
          class="m-2 p-0"
          appearance="outline"
          style="width: 60px;"
        >
          <mat-label class="text-white">Level</mat-label>
          <mat-select
            panelClass="bg-lt-blue"
            [(value)]="character.selectedLevel"
            (selectionChange)="updateAvailableSkills()"
          >
            <mat-option
              class="text-white"
              *ngFor="let lvl of levels"
              [value]="lvl"
            >
              {{ lvl }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          class="m-2 p-0"
          appearance="outline"
          style="width: 100px;"
        >
          <mat-label class="text-white">CO Skill Points</mat-label>
          <mat-select
            panelClass="bg-lt-blue"
            [(value)]="character.selectedCoSP"
            (selectionChange)="updateAvailableSkills()"
          >
            <mat-option
              class="text-white"
              *ngFor="let coSP of coSkillPoints"
              [value]="coSP"
            >
              {{ coSP }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <app-skill-row
    *ngFor="let skillRow of character.skillTree.skillTreeRows"
    [skillTree]="character.skillTree"
    [skills]="skillRow"
    (displaySkill)="displaySkill.emit($event)"
    (skillClicked)="skillClicked.emit($event)"
  ></app-skill-row>
</div>
