<div class="row">
  <div
    *ngFor="let skillId of skills; let i = index"
    class="col-12 col-sm-2 bg-gradient-blue"
  >
    <div
      *ngIf="skillTree.vltSkillIds[rowIndex + '-' + i.toString()]"
      class="vl-t d-none d-sm-inline"
    ></div>
    <div
      *ngIf="skillTree.vlbSkillIds[rowIndex + '-' + i.toString()]"
      class="vl-b d-none d-sm-inline"
    ></div>
    <div
      *ngIf="skillTree.vlfSkillIds[rowIndex + '-' + i.toString()]"
      class="vl-f d-none d-sm-inline"
    ></div>
    <div
      *ngIf="skillTree.hlrSkillIds[rowIndex + '-' + i.toString()]"
      class="hl-r d-none d-sm-inline"
    ></div>
    <div
      *ngIf="skillTree.hllSkillIds[rowIndex + '-' + i.toString()]"
      class="hl-l d-none d-sm-inline"
    ></div>
    <div
      *ngIf="skillTree.hlfSkillIds[rowIndex + '-' + i.toString()]"
      class="hl-f d-none d-sm-inline"
    ></div>
    <app-skill
      class="m-2"
      style="position: relative; z-index: 1;"
      *ngIf="skillId"
      [skillTree]="skillTree"
      [skill]="skillTree[skillId]"
      (skillClicked)="skillClickedEvent($event)"
      (mouseenter)="mouseEnter(skillTree[skillId])"
    ></app-skill>
  </div>
</div>
