@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.vl {
  border-left: 6px solid yellow;
  height: 600px;
  position: absolute;

  margin-top: 30px;
  margin-left: 50px;
}
.bg-dark-green {
  background-color: #0d4b29;
}
.border-lt-green {
  border: 1px solid #52cd9c;
}
.bg-blue {
  background-color: #0a3f53;
}
.bg-lt-blue {
  background-color: #409fd6;
}
.bg-gradient-blue {
  background-image: linear-gradient(to right, #37576e, #193241);
}
.border-lt-blue {
  border: 1px solid #409fd6;
}
.rounded-border {
  border-radius: 10px;
}
.skill {
  background-color: #0a3f53;
  border: 1px solid #409fd6;
}
.skill-max {
  background-color: #0d4b29;
  border: 1px solid #52cd9c;
}
.skill-locked {
  background-color: #15191c;
  border: 1px solid #667a82;
}
