<div
  class="rounded-border d-flex align-items-between flex-wrap"
  style="height: 100px;"
  [class.skill]="
    !skill.locked &&
    skill.skillType === skillType.Normal &&
    skill.currentLevel < skill.maxLevel
  "
  [class.skill-max]="
    (!skill.locked && skill.skillType === skillType.Passive) ||
    skill.currentLevel >= skill.maxLevel ||
    skill.skillType === skillType.LevelReq
  "
  [class.skill-locked]="skill.locked"
>
  <div class="d-flex" style="flex: 100%;">
    <div class="d-flex justify-content-center align-items-center">
      <img
        class="p-1"
        style="flex: 30%; width: 50px; height: 50px;"
        [src]="skill.imagePath"
        [alt]="skill.name"
      />
    </div>
    <div class="px-1 fnt-s-10" style="flex: 70%;">
      <div class="mb-1">{{ skill.name }}</div>
      <div
        *ngIf="parent"
        class="d-flex justify-content-between"
        [class.text-danger]="parent.currentLevel < skill.parent.prerequisite"
      >
        <span>{{ parent.name }}</span>
      </div>
    </div>
  </div>
  <div
    class="p-2 d-flex justify-content-between align-items-center"
    style="flex: 100%;"
    *ngIf="skill.skillType === skillType.LevelReq"
  >
    <div>
      <mat-icon
        style="font-size: 20px;"
        [class.text-danger]="false"
        [class.text-light]="true"
        aria-hidden="false"
        aria-label="Locked Skill"
        >{{ false ? "lock" : "lock_open" }}</mat-icon
      >
    </div>
    <span>Level Req: {{ skill.levelReq }}</span>
  </div>
  <div
    *ngIf="skill.skillType !== skillType.LevelReq"
    class="p-2 d-flex justify-content-between align-items-center"
    style="flex: 100%;"
  >
    <div>
      <div
        *ngIf="skill.locked"
        class="d-flex justify-content-center align-items-center"
      >
        <mat-icon
          style="font-size: 20px;"
          class="text-danger"
          aria-hidden="false"
          aria-label="Locked Skill"
          >lock</mat-icon
        >
        <span
          class="px-1"
          *ngIf="parent"
          [class.text-danger]="parent.currentLevel < skill.parent.prerequisite"
          >{{ parent.currentLevel }}/{{ skill.parent.prerequisite }}</span
        >
      </div>
      <div
        *ngIf="!skill.locked && skill.skillType !== skillType.Passive"
        class="hand"
        role="button"
        (click)="prev()"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </div>
    </div>
    <span>{{ skill.currentLevel }}/{{ skill.maxLevel }}</span>
    <div>
      <div
        *ngIf="!skill.locked && skill.skillType !== skillType.Passive"
        class="hand"
        role="button"
        (click)="next()"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </div>
    </div>
  </div>
</div>
