<div class="container bg-blue text-white">
  <div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6 bg-dark-blue">
      <div *ngIf="displayedSkill">
        <div class="p-1 bg-lt-blue">
          {{ displayedSkill.name }}
        </div>
        <div>
          Level:
          <span *ngIf="displayedSkill.currentLevel < displayedSkill.maxLevel"
            >{{ displayedSkill.currentLevel }}/{{
              displayedSkill.maxLevel
            }}</span
          >
          <span *ngIf="displayedSkill.currentLevel >= displayedSkill.maxLevel"
            >MAX</span
          >
        </div>
        <div
          class="d-flex justify-content-between"
          style="border-bottom: 1px solid white;"
          *ngIf="displayedSkill.parent"
        >
          <span>Prerequisite</span>
          <span>/{{ skillTree[displayedSkill.parent.id].name }}</span>
          <span>Lv. {{ displayedSkill.parent.prerequisite }}</span>
        </div>
        <div style="border-bottom: 1px solid white;">
          {{ displayedSkill.desc }}
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="container bg-blue text-white"
  style="overflow-y: scroll; height: 70vh;"
>
  <div class="text-center">
    {{ skillTree.availableSkills }}
  </div>
  <div>
    <app-skill-row
      *ngFor="let skillRow of skillTree.skillTreeRows"
      [skillTree]="skillTree"
      [skills]="skillRow"
      (displaySkill)="displaySkill($event)"
      (skillClicked)="skillClicked($event)"
    ></app-skill-row>
  </div>
</div>
