<div class="container bg-dark-blue text-white">
  <div class="row pb-3">
    <div class="col-sm-6 bg-dark-blue p-0">
      <div class="bg-lt-blue text-white p-2">Character Information</div>
      <div
        class="p-2 d-flex justify-content-center align-items-center flex-wrap"
      >
        <mat-form-field class="m-2" style="width: 120px;" appearance="outline">
          <mat-label class="text-white">Primary Class</mat-label>
          <mat-select panelClass="bg-lt-blue" [(value)]="selectedPrimaryClass">
            <mat-option
              class="text-white"
              *ngFor="let character of characters.getCharacterArray()"
              [value]="character.id"
            >
              {{ character.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="m-2" style="width: 120px;" appearance="outline">
          <mat-label class="text-white">Secondary Class</mat-label>
          <mat-select
            panelClass="bg-lt-blue"
            [(value)]="selectedSecondaryClass"
          >
            <mat-option
              class="text-white"
              *ngFor="let character of characters.getCharacterArray()"
              [value]="character.id"
            >
              {{ character.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button
          class="shadow"
          title="Copy sharable url"
          style="background-color: #313e66; color: white;"
          mat-mini-fab
          (click)="displaySnackBar()"
          [cdkCopyToClipboard]="generateUrl()"
          aria-label="Share url"
        >
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </div>
    <div class="col-sm-6 p-0 bg-dark-blue">
      <div *ngIf="displayedSkill" style="height: 140px;">
        <div class="p-2 bg-lt-blue">
          {{ displayedSkill.name }}
        </div>
        <div class="p-1 border-b-white">
          Level:
          <span *ngIf="displayedSkill.currentLevel < displayedSkill.maxLevel"
            >{{ displayedSkill.currentLevel }}/{{
              displayedSkill.maxLevel
            }}</span
          >
          <span *ngIf="displayedSkill.currentLevel >= displayedSkill.maxLevel"
            >MAX</span
          >
        </div>
        <div
          class="p-1 d-flex justify-content-between border-b-white"
          *ngIf="displayedSkill.parent"
        >
          <span>Prerequisite</span>
          <span
            >/{{
              characters[selectedCharacterId].skillTree[
                displayedSkill.parent.id
              ].name
            }}</span
          >
          <span>Lv. {{ displayedSkill.parent.prerequisite }}</span>
        </div>
        <div class="p-1">
          {{ displayedSkill.desc }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container p-0 bg-dark-blue text-white">
  <mat-tab-group
    [(selectedIndex)]="selectedTab"
    (selectedIndexChange)="updateSelectedCharacter()"
    class="p-0"
    backgroundColor="accent"
  >
    <mat-tab *ngFor="let character of characters.getCharacterArray()">
      <ng-template mat-tab-label>
        <img
          *ngIf="character.id === selectedPrimaryClass"
          class="px-1"
          alt="Selected Primary class"
          src="/assets/icons/main.png"
        />
        <img
          *ngIf="character.id === selectedSecondaryClass"
          class="px-1"
          alt="Selected Sub class"
          src="/assets/icons/sub.png"
        />
        {{ character.name }}
      </ng-template>

      <ng-template matTabContent>
        <app-character-tab
          [character]="character"
          (displaySkill)="displaySkill($event)"
          (skillClicked)="skillClicked($event)"
        ></app-character-tab
      ></ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
